$default-font: "roboto-example", sans-serif;
$white: #ffffff;
$black: #000000;
$gray: #5b5b5c;
$light-gray: #c4c4c4;
$white-gray: #dddcdc;
$dark-blue: #3a4047;
$white-blue: #4572a5;
$blue: #4e6580;